@tailwind base;
@tailwind components;

body {
  margin: 0;
}

* {
  font-family: 'Open Sans', sans-serif;
  color: #2f2f2f;
  @apply tracking-wide;
}

.circle {
  @apply absolute bg-red-400 rounded-full;
  width: 150vw;
  height: 80vw;
  z-index: -1;
}

.logoTitle {
  font-family: 'Open Sans Condensed', sans-serif;
  @apply ml-4 font-bold text-2xl leading-none;
}

.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.slideContainer {
  width: 100%;
  @apply flex-none;
}

.slideImageContainer {
  width: 85%;
  opacity: 0.4;
  will-change: opacity;
  transition: opacity ease-in-out .4s;
  @apply flex-none mr-6;
}

.slideImageContainer.active {
  opacity: 1;
}

.slide {
  @apply flex-none px-12;
}

.slide.active:first-child {
  margin-left: 0
}

.slide.active:last-child {
  margin-right: 0
}

.hero {
  @apply py-20;
}

.header {
  @apply flex w-full items-center mt-6 mb-2 px-8;
}

.slideTitle {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
  @apply text-lg mt-4 mb-2;
}

.galleryContainer {
  height: 64vw;
  margin: auto;
  overflow: hidden;
  border-radius: 1rem;
  @apply my-4 flex items-center justify-center;
}

.dotcontainer {
  @apply flex justify-center items-center h-4;
}
 
.dotpage:first-child {
 margin-left: 0;
}

.dotpage {
  @apply mx-2 h-2 w-2 bg-gray-400 rounded-full;
  transition: all ease-in-out .2s;
}

.dotpage.active {
  @apply h-3 w-3 bg-red-500;
}

.logo {
  @apply h-12;
  width: auto;
}

button {
  @apply bg-red-500 text-white text-sm px-4 py-4  rounded-full shadow-md my-2;
}

@tailwind utilities;
