@tailwind base;
@tailwind components;

:root {
  --theme-color: #63b3ed;
  --text-color: #2f2f2f;
  --accent-color: #ffd31d;
  --bg-color: #ffffff;
  --btn-text-color: #2f2f2f;
}

body {
  background-color: var(--bg-color);
  margin: 0;
}

* {
  font-family: "Open Sans", sans-serif;
  color: var(--text-color);
  @apply tracking-wide;
}

.circle {
  @apply absolute bg-red-400 rounded-full;
  width: 150vw;
  height: 80vw;
  z-index: -1;
}

.logoTitle {
  font-family: "Open Sans Condensed", sans-serif;
  @apply font-bold text-2xl leading-none;
}

.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.slideContainer {
  width: 100%;
  @apply flex-none;
}

.slideImageContainer {
  width: 85%;
  opacity: 0.4;
  will-change: opacity;
  transition: opacity ease-in-out 0.4s;
  @apply flex-none mr-6;
}

.slideImageContainer.active {
  opacity: 1;
}

.slide {
  @apply flex-none px-12;
}

.slide.active:first-child {
  margin-left: 0;
}

.slide.active:last-child {
  margin-right: 0;
}

.slideshow-border {
  @apply mx-8 my-8 border-b;
  border-bottom-color: var(--text-color);
}

.heroContainer {
  height: 75vh;
  z-index: -1;
  @apply relative overflow-hidden;
}

.heroImage {
  height: 75vh;
  @apply bg-cover bg-center w-full fixed top-0 left-0;
}

.header {
  @apply flex w-full items-center mt-6 mb-2 px-8;
}

.slideTitle {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 600;
  @apply text-lg mt-4 mb-2;
}

.galleryContainer {
  height: 64vw;
  margin: auto;
  overflow: hidden;
  border-radius: 1rem;
  @apply my-4 flex items-center justify-center;
}

.dotcontainer {
  @apply flex justify-center items-center h-4;
}

.dotpage:first-child {
  margin-left: 0;
}

.dotpage {
  @apply mx-2 h-2 w-2 rounded-full opacity-50;
  background-color: var(--accent-color);
  transition: all ease-in-out 0.2s;
}

.dotpage.active {
  background-color: var(--accent-color);
  @apply h-3 w-3 opacity-100;
}

.logo {
  @apply h-12 mr-2;
  width: auto;
}

.buttonContainer button {
  @apply w-full;
}

.buttonContainer.withHero {
  margin-top: -2rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  @apply pt-4 absolute w-full;
  background-color: var(--bg-color);
}

button {
  background-color: var(--accent-color);
  color: var(--btn-text-color);
  @apply text-sm px-4 py-4  rounded-full shadow-md my-2;
}

.tray * {
  color: #2f2f2f !important;
}

.tray-header {
  border-top-left-radius: 1.4rem;
  border-top-right-radius: 1.4rem;
  @apply w-full absolute bottom-0 bg-white;
}

.trayButton {
  @apply p-4 shadow-lg rounded-lg my-4 py-4 text-center flex items-center bg-white;
}

.trayButton .logo {
  @apply mr-4;
  max-width: 40px;
  object-fit: contain;
}

.trayButton .text {
  @apply text-left text-sm;
}

.orderButton.grab {
  background-color: #00ba51;
}

@tailwind utilities;
